.progress {
    height: 12px;
    margin-bottom: 0;
    border-radius: 0;
}
.progress-bar {
    width: 100%;
}

.btn-sort {
    cursor: pointer;
}
.btn-selected {
    color: #428bca;
}

.filters {
    margin-top: 15px;
}
